<?xml version="1.0"?>
<config>
    <global>
        <models>
            <shippingrates>
                <class>Thebod_Shippingrates_Model</class>
            </shippingrates>
        </models>

        <helpers>
            <shippingrates>
                <class>Thebod_Shippingrates_Helper</class>
            </shippingrates>
        </helpers>

        <blocks>
            <shippingrates>
                <class>Thebod_Shippingrates_Block</class>
            </shippingrates>
        </blocks>

         <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <shippingrates>
                        <type>singleton</type>
                        <class>shippingrates/observer</class>
                        <method>checkoutTypeOnepageSaveOrderAfter</method>
                    </shippingrates>
                </observers>
            </checkout_type_onepage_save_order_after>

             <payment_method_is_active>
                 <observers>
                     <shippingrates>
                         <type>singleton</type>
                         <class>shippingrates/observer</class>
                         <method>paymentMethodIsActive</method>
                     </shippingrates>
                 </observers>
             </payment_method_is_active>
        </events>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Thebod_Shippingrates>
                    <files>
                        <default>Thebod_Shippingrates.csv</default>
                    </files>
                </Thebod_Shippingrates>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <carriers>
            <shippingrates>
                <active>1</active>
                <model>shippingrates/carrier</model>
                <title>Shippingrates</title>
            </shippingrates>
        </carriers>
    </default>
</config>